.specailist-carousel {
    .carousel-header {
        display: flex;
        justify-content: space-between;

        .title {
            margin: 40px !important;
        }
        .more {
            display: flex;
            align-self: center;
            padding: 10px;
            margin: 2px;
        }
    }

    .custom-nextArrow,
    .custom-preArrow {
        &:hover {
            color: black !important;
            border: 1px solid black !important;
        }
        transition: 0.2s;
        z-index: 1;
        background-color: white;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        // border-radius: 4px;

        transform: translateY(-50%);
        // font-size: 20px;
        i {
            font-size: 40px;
        }
    }

    .custom-nextArrow {
        right: 0;
    }
    .custom-preArrow {
        left: 0;
    }

    .carousel-header {
        display: flex;
        .title {
        }
        .more {
        }
    }
    .img-cover {
        height: 200px;
        padding: 0 20px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            // margin: auto;
        }

        .title {
            font-size: 16px;
            font-weight: 300;
            text-transform: none;
            margin: 4px;
        }
    }
    .slick-prev {
        left: 0;
        z-index: 1;
    }
    .slick-next {
        right: 0;
        z-index: 1;
    }
}
