.container {
}
.modal-create-user {
    .modal-password {
        position: relative;

        i {
            position: absolute;
            right: 10px;
            top: 56%;
        }
    }
    small {
        position: absolute;
    }
}
